div.simpleMap {
	height: 300px;
	width: 100%;
}

.leaflet-touch div.simpleMapOverlay {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,.95);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	border: 0px;
}

.leaflet-touch div.simpleMapControl {
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,.95);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	border: 0px;
}

.leaflet-touch div.simpleMapLegend {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,.95);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	border: 0px;
}
.leaflet-touch div.simpleMapLegend .legendRow {
	height: 16px;
	padding: 2px;
}
.leaflet-touch div.simpleMapLegend div.imageContainer img {
	max-width: 16px;
	max-height: 16px;
}
.leaflet-touch div.simpleMapLegend div.imageContainer {
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	text-align: center;
}
.leaflet-touch div.simpleMapLegend i {
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
